
.roadmap-container {
  padding: 20px;
}

.roadmap-container .roadmap-title {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 30px;
  background: linear-gradient(
    90deg,
    rgb(106, 0, 255) 0%,
    rgb(152 0 255) 30%,
    rgb(246 41 41) 65%,
    rgb(255 169 8) 100%
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.roadmap-container .roadmap-controls {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.roadmap-container .roadmap-search {
  padding: 10px;
  font-size: 1.2rem;
  border: 1px solid var(--ifm-color-primary);
  border-radius: 5px;
  width: 100%;
  max-width: 400px;
}

.roadmap-container .roadmap-category {
  margin-bottom: 30px;
}

.roadmap-container .roadmap-category .roadmap-category-title {
  text-align: center;
  font-size: 1.5rem;
  cursor: pointer;
  color: var(--ifm-color-primary);
  margin:40px 0;
}


.roadmap-container .roadmap-category .roadmap-category-title::after {
  content: "";
  display: block;
  width: 40%;
  height: 1px;
  background: linear-gradient(to left, var(--ifm-color-primary), transparent);
  margin-top: -14px;
  margin-left: auto;
}

.roadmap-container .roadmap-category .roadmap-category-title::before {
  content: "";
  display: block;
  width: 40%;
  height: 1px;
  background: linear-gradient(to right, var(--ifm-color-primary), transparent);
  margin-bottom: -20px;

}

.roadmap-container .roadmap-category .roadmap-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  list-style: none;
  padding: 0;
}

.roadmap-container .roadmap-category .roadmap-cards .roadmap-card {
  border: 1px solid var(--ifm-color-primary);
  border-radius: 8px;
  padding: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  text-align: center;
}

.roadmap-container .roadmap-category .roadmap-cards .roadmap-card:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.roadmap-container .roadmap-category .roadmap-cards .roadmap-card .roadmap-link {
  text-decoration: none;
  color: var(--ifm-color-primary);
  font-size: 1.1rem;
}

.roadmap-container .roadmap-category .roadmap-cards .roadmap-card .roadmap-link:hover {
  color: var(--ifm-color-primary-darkest);
}

@media (min-width: 600px) {
  .roadmap-container .roadmap-category .roadmap-cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 900px) {
  .roadmap-container .roadmap-category .roadmap-cards {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 380px) {
  .roadmap-container .roadmap-category .roadmap-cards {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}
