.hero_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
  margin: 20px;
  background-color:#cccccc36;
  border-radius: 10px;
  box-shadow: 0 0 5px 0 #ccc;

}

.course_cards::after,
.feature_container::after {
  border-bottom: 1px solid #666;
  content: "";
  width: 100%;
  margin-top: 8px;
  height: 1px;
}

.hero_content {
  flex: 1;
  text-align: start;
}

.hero_title {
  font-size: 3rem;
  padding: 2px 4px;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: GradientAnimation 15s ease infinite;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  /* -webkit-text-stroke: 1px #1b0446; */
  /* text-shadow: 2px 2px 2px #1b044644; */
}

.hero_description {
  font-size: 1.3rem;
  margin: 30px 0;
  padding: 5px 10px;
}

.buttons_container {
  display: flex;
  gap: 20px;
  margin-top: 50px;
  margin-left: 20px;
}

.animated_button {
  padding: 10px 20px;
  border-radius: 5px;
  color: #f2f2f2;
  font-size: 1.2rem;
  border: none;
  cursor: pointer;
  box-shadow: 0 0 5px 0 #ccc;
  object-fit: cover;
  background: linear-gradient(-45deg, #f44009, #db0557, #0785b3, #07ab85);
  background-size: 400% 400%;
  animation: GradientAnimation 15s ease infinite;
}

.animated_button:hover {
  background: linear-gradient(-30deg, #f44009, #db0557, #0785b3, #07ab85);
}

.source_link {
  text-decoration: none;
  color: #f2f2f2;
}

.source_link:hover {
  text-decoration: underline;
  color: #f2f2f2;
}

.hero_image_container {
  width: 100%;
  height: 400px;
  margin-bottom: 50px;
  overflow: hidden;
}

@media (max-width: 853px) {
  .hero_container {
    text-align: center;
    position: relative;
    overflow: hidden;
  }

  /* .hero_container:hover {
    animation-play-state: running;
  } */

  @keyframes waveX {
    0% {
      background-position-x: 100%, 0;
    }
    100% {
      background-position-x: 100%, 33rem;
    }
  }
  @keyframes waveY {
    100% {
      background-position-y: 100%, 0;
    }
    0% {
      background-position-y: 100%, 33rem;
    }
  }

  .hero_title {
    font-size: 2.3rem;
    text-align:  center;
  }

  .hero_description {
    text-align: justify;
  }

  .buttons_container {
    justify-content: center;
    margin-left: 0;
  }

  /* .hero_image_container {
    display: none;
  } */
}

.hero_image {
  /* width: 100%;
  height: 100%; */
  /* object-fit: cover;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: GradientAnimation 15s ease infinite; */
}
.feature_container,
.course_cards {
  margin: 20px 0;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 5px;
  align-items: center;
  justify-content: center;
}

.feature_item,
.course_card {
  padding: 3px;
  text-align: start;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 5px 0 #ccc;
  width: 300px;
  height: 320px;
}

.feature_item img,
.course_card img {
  width: 100%;
  height: 150px;
  border-radius: 5px;
  border-bottom: 1px solid #ccc;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: GradientAnimation 15s ease infinite;
}

.feature_item h3,
.course_card h3 {
  padding: 0 10px;
  font-size: 1.5rem;
  margin-top: 10px;
}

.feature_item p,
.course_card p {
  padding: 0 10px;
  font-size: 1rem;
  margin-top: 5px;
}

@keyframes GradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.play_button_overlay {
  position: absolute;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  font-size: 2rem;
  border-radius: 50%;
  background: rgba(220, 212, 212, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background 0.3s ease;
}
.play_icon {
  color: #f2f2f2;
}
