.resources-section {
  text-decoration: none;
  margin-top: 3.75rem 0;
  padding: 0 1.5rem;
}

.resources-section .resources-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

.resources-section .resources-container .resources-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2.5rem;
}

.resources-section .resources-container .resources-header .codeharborhub-badge {
  display: inline-block;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 0.5rem 1rem;
  background-color: var(--ifm-color-primary);
  color: white;
  border-radius: 5px;
}

.resources-section .resources-container .resources-header .resources-title {
  margin-bottom: 1.5rem;
  font-size: 2.25rem;
}

.resources-section .resources-container .resources-header .resources-all-blogs {
  font-family: "Jakarta", sans-serif;
  font-size: 0.875rem;
  font-weight: 600;
  color: var(--ifm-color-primary);
}

.resources-section .resources-container .resources-header .arrow-icon {
  margin-left: 0.25rem;
}

.resources-section .resources-container .resources-filters {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  gap: 10px;
  margin: 1.5rem 0;
  border-radius: 0.5rem;
  padding: 0.5rem;
  font-family: "Jakarta", sans-serif;
  font-size: 0.875rem;
  font-weight: 600;
  scroll-behavior: smooth;
  overflow-x: auto;
  white-space: nowrap;
  -ms-overflow-style: none;
  scrollbar-width: none;
  background-color: #07574e73;
  border: 1px solid #666;
}

.bg-secondary-700 {
  background-color: var(--ifm-color-secondary);
}

.dark\:bg-secondary-700 {
  background-color: var(--ifm-color-secondary-dark);
}

.resources-section .resources-container .resources-filters .filter-button {
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s;
  border-radius: 0.5rem;
  font-size: 0.875rem;
}

.resources-section
  .resources-container
  .resources-filters
  .filter-button.active {
  background-color: var(--ifm-color-primary);
  color: #f9f9f9;
}

.resources-section .resources-container .resources-content {
  position: relative;
  display: flex;
  flex-direction: column;
}

.resources-section .resources-container .resources-content .resources-grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 1.5rem;
}

.resources-section
  .resources-container
  .resources-content
  .resources-grid
  .resource {
  text-decoration: none;
  color: inherit;
  border-radius: 0.5rem;
  box-shadow: 0 0 10px rgba(5, 174, 216, 0.386);
}

.resources-section
  .resources-container
  .resources-content
  .resources-grid
  .fade-in {
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.resources-section
  .resources-container
  .resources-content
  .resources-grid
  .resource-image-container {
  margin-bottom: 0.75rem;
  overflow: hidden;
  border-radius: 0.5rem;
}

.resources-section
  .resources-container
  .resources-content
  .resources-grid
  .resource-image {
  aspect-ratio: 16 / 9;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.2s;
}

.resources-section
  .resources-container
  .resources-content
  .resources-grid
  .resource:hover
  .resource-image {
  transform: scale(1.1);
}

.resources-section
  .resources-container
  .resources-content
  .resources-grid
  .resource-title {
  font-weight: 600;
  margin-bottom: 8px;
  padding: 0 0.5rem;
}

.resources-section
  .resources-container
  .resources-content
  .resources-grid
  .resource-description {
    line-height: 1.375;
    padding: 0 0.5rem;
}

.resources-section
  .resources-container
  .resources-content
  .resources-grid.resource-footer {
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
}

.resources-section
  .resources-container
  .resources-content
  .resources-grid
  .resource-duration {
  font-size: 14px;
  padding: 0.5rem;
  color: var(--ifm-color-primary);
}

.resources-section .resources-container .pagination {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 2.5rem;
}

.resources-section .resources-container .pagination .pagination-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 8px;
}

.resources-section .resources-container .pagination .chevron-icon {
  width: 24px;
  height: 24px;
}

@media (max-width: 768px) {
  .resources-section .resources-container .resources-content .resources-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .resources-section .resources-container .resources-content .resources-grid {
    grid-template-columns: 1fr;
  }
}
