.virtual-meeting-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 20px;  
}

.video-conference {
  position: relative;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 10px; 
  overflow: hidden;  
}

.video-conference video { 
  border-radius: 10px;  
  width: 100%;
}

.controls {
  position: absolute;
  bottom: 20px;
  left: 20%;
  transform: translateX(-50%);
  display: flex;
  gap: 20px;
}

.controls .mic-on, .video-on {
  background-color: #fff;
  color: #666;
  border: none;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.controls .mic-on:hover, .video-on:hover {
  /* background-color: #ed3636; */
  color: #333;
  background-color: #e0e0e0;
}

.controls .mic-off, .video-off {
  background-color: #ed3636;
  color: #fff;
  border: none;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
} 

.controls .mic-off:hover, .video-off:hover {
  background-color: #c62828;
}

.sidebar {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  width: auto;
  overflow-y: auto;
}

.participants-list,
.chat {
  padding: 20px;
}

.participants-list h2,
.chat h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

.participants-list ul,
.chat-messages {
  list-style: none;
}

.participants-list li,
.chat-messages div {
  margin-bottom: 10px;
}

.message-input {
  display: flex;
  margin-top: 20px;
}

.message-input input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
}

.message-input button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.message-input button:hover {
  background-color: #0056b3;
}

@media (max-width: 1024px) {
  .sidebar {
    /* display: none; */
    width: 100%;
  }
}