.editor_select_container {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 1rem;
  padding: 2rem 1rem;
}

.editor_container {
  border-radius: 0.5rem;
  transition: 0.3s ease-in;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  padding: 1rem;
  cursor: pointer;
  border: 1px solid #ccc;
}
.editor_container:hover {
  border: 1px solid var(--ifm-color-primary);
}
.editor_container .editor_select_image_container {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  padding: 0.5rem;
}
.editor_select_text {
  font-family: monospace;
  font-weight: 600;
  text-align: center;
}

.editor_container .editor_select_image_container .editor_select_image {
  height: 100%;
  width: 100%;
  border-radius: 0.5rem;
  object-fit: cover;
}

.normal_editor {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100vw;
}
.normal_editor .editor_box {
  flex: 1 0 30rem;
  height: 35rem;
  position: relative;
}
.normal_editor .output_container {
  height: 32.3rem;
  width: 100%;
}
.normal_editor .output_container {
  background: white;
}
.editor_box .editor_nav {
  position: absolute;
  z-index: 2;
  gap: 1rem;
  display: flex;
  top: 2%;
  justify-content: center;
  align-items: center;
  right: 1%;
}
.editor_nav .btn_activated {
  padding: 0.3rem 1rem;
  border: none;
  font-family: monospace;
  font-weight: 600;
  cursor: pointer;
}
.editor_nav .html {
  background: rgb(230, 81, 0);
  color: white;
}
.editor_nav .css {
  background: rgb(2, 119, 189);
  color: white;
}
.editor_nav .js {
  background: rgb(255, 214, 0);
  color: rgb(0, 0, 0);
}
.editor_nav .btn_deactivated {
  display: none;
}
.editor_settings_nav {
  position: absolute;
  bottom: 1%;
  right: 1%;
}
.editor_settings_nav img {
  height: 1.5rem;
  cursor: pointer;
  filter: var(--image-filter);
}
.editor_settings_nav .editor_setting_icon {
  display: flex;
  justify-content: flex-end;
}
.editor_settings_menu_con {
  border: 1px solid;
  padding: 0.3rem;
  margin-bottom: 0.2rem;
  transition: 0.3s ease-in;
  background: var(--docsearch-hit-background);
}
.editor_settings_menu_con.activate_menu {
  opacity: 1;
}
.editor_settings_menu_con.deactivate_menu {
  display: none;
}
.editor_settings_menu {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem;
}
.editor_settings_menu p {
  margin: 0;
}
.editor_settings_menu button {
  height: 1.5rem;
  width: 1.5rem;
  display: flex;
  justify-content: center;
  font-family: monospace;
  font-weight: 900;
  background: rgb(2, 119, 189);
  color: white;
  border: none;
  align-items: center;
}
.editor_settings_menu input {
  height: 3rem;
  width: 3rem;
}
.editor_textarea_activate {
  font-family: "Courier New", Courier, "Lucida Sans Typewriter",
    "Lucida Typewriter", monospace;
  width: 100%;
  min-height: 100%;
  float: left;
  line-height: 14pt;
  font-weight: 200;
  padding: 10px;
  border: 1px solid;
  background: transparent;
  box-shadow: inset rgba(0, 0, 0, 0.05) 0 3px 10px;
  border-radius: 3px;
  transition: all 0.2s ease-in-out;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

.editor_textarea_activate:focus {
  border-color: #33dd33;
}
.editor_textarea_deactivate {
  display: none;
}

@media screen and (max-width: 768px) {
  .editor_select_container {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}