.popup_message {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 15%;
  z-index: 1;
}
.popup_message .success,
.popup_message .error {
  padding: 1rem 3rem;
  font-family: monospace;
  font-weight: 600;
  border-radius: 0.6rem;
  font-size: 0.8rem;
}
.popup_message .success {
  background: rgba(6, 235, 6, 0.749);
  color: #fff;
}
.popup_message .error {
  background: rgba(235, 6, 6, 0.749);
  color: #fff;
  padding: 1rem 2.5rem;
}

.popup_message p{
 font-family: monospace;
  font-weight: 600;

}

.popup_message span {
  position: relative;
  top: 0.2rem;
  margin-right: 0.3rem;
}
