.scrollToTopButton {
  position: fixed;
  bottom: 80px;
  right: 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 10px;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: opacity 0.3s;
  opacity: 0.8;
  z-index: 1000;
}

.scrollToTopButton:hover {
  background-color: #0056b3;
  opacity: 1;
}
