/* App.css */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
.mainContainer {
  padding: 40px;
  align-items: center;
  justify-content: center;
}
.cardContainer {
  padding: 20px;
  background-color: #fdfdfd;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.container {
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margin */
}

.slick-slide {
  padding: 0 10px; /* Adjust padding to control space between cards */
  box-sizing: border-box; /* Ensure padding is included in width calculation */
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

p{
  text-align: center;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 40px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
[data-theme='dark'] .cardContainer {
  background-color: #15172a;
}

.slick-prev:before,
.slick-next:before {
  color: green;
}

/* Customize the color of the dots */
.slick-dots li button:before {
  color: green ;
}

[data-theme='dark'] .slick-prev:before,
[data-theme='dark'] .slick-next:before {
  color: white;
}

/* Customize the color of the dots */
[data-theme='dark'] .slick-dots li button:before {
  color: white ;
}

