.main__home {
  background: linear-gradient(rgb(255 255 255), rgb(255 255 255/50%));
}

[data-theme='dark'] .main__home {
  background: linear-gradient(rgb(15 23 42), rgb(15 23 42/50%));
}

.home__header {
  margin: 1rem;
}
.home__divider h2 {
  text-align: center;
}

.home__hr {
  background-color: var(--ifm-color-primary);
  margin: 2rem auto;
}

.home__divider {
  margin: 2rem auto;
}

.home__divider::after {
  content: "";
  display: block;
  margin: 10px auto;
  width: 100px;
  height: 2px;
  background-color: var(--ifm-color-primary);
}

.section {
  padding: 1rem;
}

/* scrollbar.css */
::-webkit-scrollbar {
  width: 10px; 
}
/* Track */
::-webkit-scrollbar-track {
  background: var(--ifm-color-primary);  
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: darkgray;    
  border-radius: 10px;   
}
::-webkit-scrollbar-thumb:hover {
  background: darkgrey;
}
