.home__header {
  margin: 1rem;
}
.home__divider h2 {
  text-align: center;
}

.home__hr {
  background-color: var(--ifm-color-primary);
  margin: 2rem auto;
}

.home__divider {
  margin: 2rem auto;
}

.home__divider::after {
  content: "";
  display: block;
  margin: 10px auto;
  width: 100px;
  height: 2px;
  background-color: var(--ifm-color-primary);
}