.main__home {
  background: linear-gradient(rgb(255 255 255), rgb(255 255 255/50%));
}

[data-theme='dark'] .main__home {
  background: linear-gradient(rgb(15 23 42), rgb(15 23 42/50%));
}

.home__header {
  margin: 1rem;
}
.home__divider h2 {
  text-align: center;
}

.home__hr {
  background-color: var(--ifm-color-primary);
  margin: 2rem auto;
}

.home__divider {
  margin: 2rem auto;
}

.home__divider::after {
  content: "";
  display: block;
  margin: 10px auto;
  width: 100px;
  height: 2px;
  background-color: var(--ifm-color-primary);
}

.section {
  padding: 1rem;
}



.rateUsButton {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
}

.gsocHero {
  transition: transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.gsocHero:hover {
  transform: translateY(-5px);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.15) !important;
}