.main__home {
  background: linear-gradient(rgb(255 255 255), rgb(255 255 255/50%));
}

[data-theme='dark'] .main__home {
  background: linear-gradient(rgb(15 23 42), rgb(15 23 42/50%));
}

.home__header {
  margin: 1rem;
}
.home__divider h2 {
  text-align: center;
}

.home__hr {
  background-color: var(--ifm-color-primary);
  margin: 2rem auto;
}

.home__divider {
  margin: 2rem auto;
}

.home__divider::after {
  content: "";
  display: block;
  margin: 10px auto;
  width: 100px;
  height: 2px;
  background-color: var(--ifm-color-primary);
}

.section {
  padding: 1rem;
}

/* scrollbar.css */
::-webkit-scrollbar {
  width: 10px; 
}
/* Track */
::-webkit-scrollbar-track {
  background: var(--ifm-color-primary);  
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: darkgray;    
  border-radius: 10px;   
}
::-webkit-scrollbar-thumb:hover {
  background: darkgrey;
}
.scrollToBottomButton {
  position: fixed;
  bottom: 20px;
  right: 20px;
  top: auto;
  background-color: var(--ifm-color-primary);
  color: #fff;
  border: none;
  border-radius: 50%;
  padding: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
  cursor: pointer;
  z-index: 1000;
}

.scrollToBottomButton:hover {
  background-color: var(--ifm-color-primary);
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2); 
}
.scroll-to-top {
  position: absolute; 
  bottom: 20px;
  right: 20px; 
  z-index: 100; /* Ensure button appears on top of other elements */
  background-color: #4CAF50; /* Green background */
  border: none;
  color: white; /* White text */
  padding: 20px 30px; /* Increased padding for bigger size */
  font-size: 20px; /* Larger font size */
  cursor: pointer;
  opacity: 0; /* Initially hidden */
  transition: opacity 0.5s ease-in-out;
  border-radius: 5px; /* Rounded corners */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Subtle shadow */
}

.scroll-to-top:hover {
  opacity: 1; /* Button opacity on hover */
  background-color: #3e8e41; /* Darker green on hover */
}
