.faq-container {
  margin: 0 auto;
  padding: 20px;
}

.faq-container .faq-item {
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-bottom: 10px;
}


.faq-container .faq-question {
  padding: 15px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  transition: background-color 0.6s ease;
}

.faq-container .faq-question:hover {
  background-color: var(--ifm-color-primary);
}

.faq-container .faq-answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
  padding: 0 15px;
  border-top: 1px solid #ddd;
}

.faq-container .faq-answer.show {
  max-height: 200px;
  padding: 15px;
}

.faq-container .icon {
  font-size: 2rem;
  transition: transform 0.3s ease;
}

.faq-container .icon.rotate {
  transform: rotate(180deg);
}