:root {
  --ifm-color-primary: #2e9e32e1;
  --ifm-color-primary-dark: #29784c;
  --ifm-color-primary-darker: #277148;
  --ifm-color-primary-darkest: #205d3b;
  --ifm-color-primary-light: #33925d;
  --ifm-color-primary-lighter: #359962;
  --ifm-color-primary-lightest: #3cad6e;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
  /* --docusaurus-highlighted-code-line-bg: rgb(72, 77, 91); */
  --ifm-task-complete-color: #2e9e32e1;
  --ifm-task-incomplete-color: #3d78cbe1;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme="dark"] {
  --ifm-color-primary: #25c2a0;
  --ifm-color-primary-dark: #21af90;
  --ifm-color-primary-darker: #1fa588;
  --ifm-color-primary-darkest: #1a8870;
  --ifm-color-primary-light: #29d5b0;
  --ifm-color-primary-lighter: #32d8b4;
  --ifm-color-primary-lightest: #4fddbf;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
  /* --docusaurus-highlighted-code-line-bg: rgb(100, 100, 100); */
  --ifm-task-complete-color: #25c2a0;
  --ifm-task-incomplete-color: #3d78cbe1;
}

.header-github-link::before {
  content: '';
  width: 24px;
  height: 24px;
  display: flex;
  background: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12'/%3E%3C/svg%3E")
    no-repeat;
}

[data-theme='dark'] .header-github-link::before {
  background: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='white' d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12'/%3E%3C/svg%3E")
    no-repeat;
}

[data-theme='dark'] .invert img {
  filter: invert(82%);
}

div[class^='announcementBar_'] {
  background-image: linear-gradient(#ff0303, #ff030329, transparent), url("../../static/img/use-svg-as-background-image-particle-strokes.svg");
  color: #fff;
  border-bottom: 1.8px dotted rgb(37, 184, 11);
  font-weight: bold;  
  font-size: 18px;
  width: 100%;
  height: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

div[class^='announcementBar_'] a {
  color: #ffe11c;
}

div[class^='announcementBar_'] .clean-btn {
  color: #ffe11c;
  opacity: 100%;
}

.navbar__logo img {
  border-radius: 4px;
}

mark {
  padding: 0.1em;
  border-radius: 0.2em;
}

.footer {
  background-image: linear-gradient(#272329aa, #2d2c2d50, transparent), url("../../static/img/use-svg-as-background-image-particle-strokes.svg");
  color: #f2f2f2;
  padding: 20px;
}

.footer .container {
  justify-content: space-around
}

.footer_info--container {
  width: 400px;
}

.footer_info--container img {
  width: 150px;
  border-radius: 8px;
}

@media screen and (max-width: 420px) {
  .footer_info--container {
    width: 100%;
  }  
}

.hero__title {
  animation: fadeIn 2s;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.hero__subtitle {
  transition: transform 0.5s;
  animation: fadeIn 4s;
  animation-fill-mode: forwards;
}

.hero__subtitle:hover {
  transform: scale(1.1);
}

.typing_text {
  animation: typing 3s steps(40, end);
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid;
  margin: auto auto 20px auto;
  font-size: 1.5em;
  animation-fill-mode: forwards;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 300px;
  }
}

.footer .container a {
  text-decoration: none;
}

.footer__copyright a { 
  color: #F0DB4F;
  text-decoration: none;
  position: relative;
  transition: color 0.3s;
}

.footer__copyright a::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #F0DB4F;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}

.footer__copyright a:hover::after {
  visibility: visible;
  transform: scaleX(1);
}

.footer__bottom .margin-bottom--sm img {
  border-radius: 8px;
}

.solution-author-wrapper {
  text-align: center;
  border-top: 1px solid #4e8da0db;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  font-weight: 500;
}

table {
  width:100%;
}

table th:nth-child(1) {
  text-align: left;
}

table.suggested-problem-table tbody > tr > td:nth-child(1) {
  width: 30%;
}

table.suggested-problem-table tbody > tr > td:nth-child(2) {
  width: 10%;
  text-align: center;
}

table.suggested-problem-table tbody > tr > td:nth-child(3) {
  width: 10%;
  text-align: center;
}

table.suggested-problem-table tbody > tr > td:nth-child(4) {
  width: 10%;
  text-align: center;
}

table, tr, td, th {
  border: none !important;
}

.easy {
  color: rgb(153, 183, 180);
}

.medium {
  color: rgb(255 184 0);
}

.hard {
  color: rgb(255 45 85);
}

@media screen and (min-width: 997px) {
  .nav-emoji {
    display: none;
  }
}

@media screen and (min-width: 1205px) {
  .nav-emoji {
    display: inline-block;
  }
}