.box-model-diagram {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.box-model-diagram__margin {
    background: #c2ba43c4;
    border: 2px dashed #000;
    padding: 10px;
}

.box-model-diagram__margin:hover {
    background: transparent;
}

.box-model-diagram__border {
    border: 2px solid #000;
    margin: 10px;
    padding: 10px 20px;
    background: #9cf374;
    color: #333;
}

.box-model-diagram__border:hover {
    background: #9cf374a8;
}

.box-model-diagram__padding {    
    margin: 10px;
    padding: 10px 20px;
    border: 1px dashed #000;
    background: #9fdbb8a8;
    color: #333;
}

.box-model-diagram__padding:hover {
    background: #9fdbb8;
}

.box-model-diagram__content {
    margin: 10px;
    padding: 10px 40px;
    border: 1px solid #000;
    background: #4edc89;
}

.box-model-diagram__content:hover {
    background: #4edc89a8;
}